body{
    text-align: center;
}
#kep2,#kep1 {
    width: 350px;
    height: 200px;
}

#alap {
    width: 1000px;
    margin: auto;
}

#kepek {
    width: 250px;
    float: right;
}
#szoveg1 {
    width: 600px;
}